* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 80em;
}

button,
a {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none;
    font-size: 1.5rem;
} 

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: auto;
    grid-gap: 1em;
}

.container > * {
    font-family: 'Audiowide', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container header {
    font-family: 'DM Sans', sans-serif;
    justify-content: space-between;
    padding: 0 1rem;
}

main {
    display: flex;
    flex-direction: column;
    font-size: 7rem;
    text-align: center;
}

aside button {
    font-size: 2rem;

}

.app-name {
    color: #2ED9EB;
}

.release-date {
    font-family: 'DM Sans', sans-serif;
    font-size: 2rem;
}

header, footer {
    grid-column: 1 / 4;
}

.dark {
    background-color: #000000;
}

.changing-component {
    text-align: center;
}

.toggle-button {
    text-align: center;
    justify-content: center;
}
 
footer {
    height: 150px;
}

@media all and (max-width: 700px) {
    aside,
    main {
        grid-column: 1 / 4;
    }
    main {
        font-size: 4rem;
    }
}